extends base
block content
    if(errorMessage)
            small=errorMessage
    form(method="post", enctype="multipart/form-data").edit-profile__form
        label(for="avatar") Avatar 
        input(type="file", id="avatar", name="avatar", accept="image/*")
        input(name="email", placeholder="Email", type="email", required, value=`${loggedInUser.email}`)
        input(name="username", placeholder="Username", type="text", required,  value=`${loggedInUser.username}`)
        input(name="name", placeholder="Name", type="text" required,  value=`${loggedInUser.name}`)
        input(name="location", placeholder="Location", type="text", required,  value=`${loggedInUser.location}`)
        input(type="submit", value="Update Profile")
        if loggedInUser.socialOnly === false 
            div.edit-profile__password
                a(href="change-password") Change Password 